@import "../../common/colors.scss";


.header {
  background-color: $secondry-color;
  height: 72px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: $font-primary;
  font-size: 20px;
  font-weight: 600;
}
.search-box {
    position: relative;
    display: flex;
    align-items: center;

    input{
    width: 200px;
    font-size: 1.1rem;
    padding: .3rem;
    border: none;
    outline: none;
    border-bottom: 2px solid #79b8f3;
    background: transparent;
    color: white;
    &::placeholder{
        color: #79b8f3;
    }
    }
    .fa-search{
        position: absolute;
        right: 10px;
        color: #79b8f3;
        cursor: pointer;
    }
}
@media screen and (max-width:550px) {
    .search-box input{
        width: 150px;
    }
    
}