@import './common/colors.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background: $primary-color;
    position: relative;
}
.container{
    margin: 0 40px;
}
@media screen and (max-width:500px) {
    .App{
        width: 100%;
    }
    .container{
        margin: 0 35px;
    }
    
}